<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3"></script>
    <div id="contenedor">
        <h1>{{name}}</h1>
        <h1>{{lastname}}</h1>
        <input type="text" v-model="name">
        <br></br>
        <input v-model="num1" type="text" name="" id="">
        <input v-model="num2" type="text" name="" id="">
        <button @click="sumar">Sumame jajaja</button>
        <button @click="saludar">Saludar</button>
        <br></br>
        <h2>{{res}}</h2>
    </div>
    <script>
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    name: 'Evelyn',
                    lastname: 'Aragón',
                    num1: 0,
                    num2: 0,
                    res: 0
                }
            },
            methods: {
                saludar(){
                    alert("Hola, " + this.name);
                },
                sumar(){
                    this.res = parseInt(this.num1)+parseInt(this.num2);
                }
            },
        }).mount('#contenedor')
    </script>
</body>
</html>