<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3"></script>
    <div id="contenedor">
        <fieldset>
            <legend>
                Acceso al panel
            </legend>
            <label for="">Correo: </label>
            <input type="email" v-model="email" name="" id="">
            <label for="">Contraseña: </label>
            <input type="password" v-model="password" name="" id="">
            <button @click="login">Aceptar</button>
        </fieldset>
    </div>
    <script>
        var err = null;
        const data = null;
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    email: '',
                    password: '',
                    users: null
                }
            },
            methods: {
                login(e){
                    e.preventDefault();
                    var email_user = this.email;
                    var password_user = this.password;

                    var access = this.users.map(function(u){
                        
                        if(email_user === u.email.toLowerCase()){
                            if(password_user === u.password){
                                return true;
                                alert("Acceso correcto");
                            }
                        }
                        alert("Datos incorrectos");
                        console.log(access);
                    })
                },
                // login(e){
                //     let login = false
                //     e.preventDefault()
                //     //console.log(this.users)

                //     this.users.map((item,index)=>{
                //         //console.log(item)
                //         if(this.email === item.email.toLowerCase()){
                //             if(this.password === item.password){
                //                 login = true
                //             }
                //         }
                //     })
                //     console.log(login)
                // }

            },
            mounted() {
                fetch('users.json')
                .then((res) => res.json())
                .then((json) => (this.users = json))
                .catch((err) => (console.log(err)))
            },
        }).mount('#contenedor')
    </script>
</body>
</html>